beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==2.3.2
flask_cors==4.0.0
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2>=3.0.0
MarkupSafe==1.1.1
requests==2.27.1
six==1.15.0
soupsieve==2.0.1
urllib3==1.26.9
Werkzeug==1.0.1
pymongo
